* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* body {
    background: #5dde17;
    min-height: 100vh;
} */

/* HEADER */
/* .top-bar {
    background: #1c1101;
    color: #fff;
    padding: 25px 40px;
}

.top-bar h1 {
    font-size: 28px;
}

.top-bar p {
    font-size: 14px;
    opacity: 0.8;
} */

/* DASHBOARD GRID */
.dashboard {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    gap: 25px;
}

/* CARD BASE */
.card {
     border-left: 6px solid #7eea0b;
    background: white;
    border-radius: 16px;
    padding: 40px;
    text-decoration: none;
    color: #333;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 18px 35px rgba(0,0,0,0.15);
}

.card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    opacity: 0.7;
}

/* INFO CARDS */
.card.info {
    background: #ffffff;
    border-left: 6px solid #7eea0b;
}

/* HIGHLIGHT CARD */
.card.highlight {
    background: #7eea0b;
    color: #1c1101;
}

/* BIG TEXT */
.big {
    font-size: 36px;
    font-weight: 700;
    margin-top: 10px;
}
