{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auth</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>

<body data-active-form="{{ active_form|default:'login' }}">

<div class="auth-page">

    <!-- BRAND -->
    <div class="brand-panel">
        <div class="app-title">
            <div class="app-badge">CanteenQ</div>
            <span>Digital Canteen Queue</span>
            <span>Management System</span>
        </div>
    </div>

    <div class="card">

        <div class="left">
            <img src="{% static 'image/canteendishes.jpg' %}" alt="food">
        </div>

        <div class="right">

            <!-- LOGIN -->
            <form method="POST" action="{% url 'login' %}" id="login-form" class="{% if active_form != 'register' %}active{% endif %}">
                {% csrf_token %}
                <h2>Login</h2>

                {% if error and active_form != 'register' %}
                    <div class="error-message">{{ error }}</div>
                {% endif %}

                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>

                <button type="submit">Login</button>

                <p>
                    Don’t have an account?
                    <a href="#" onclick="showRegister(); return false;">Register</a>
                </p>
            </form>

            <!-- REGISTER -->
            <form method="POST"
                  action="{% url 'register' %}"
                  id="register-form"
                  class="{% if active_form == 'register' %}active{% endif %}">

                {% csrf_token %}
                <h2>Register</h2>

                {% if error and active_form == 'register' %}
                    <div class="error-message">{{ error }}</div>
                {% endif %}

                <select name="role" required>
                    <option value="">Select role</option>
                    <option value="student">Student</option>
                    <option value="admin">Admin</option>
                </select>

                <input type="text" name="name" placeholder="Name" required>
                <input type="text" name="phone" placeholder="Phone" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="password" name="confirm_password" placeholder="Confirm Password" required>

                <button type="submit">Register</button>

                <p>
                    Already have an account?
                    <a href="#" onclick="showLogin(); return false;">Login</a>
                </p>
            </form>

        </div>
    </div>
</div>

<script src="{% static 'js/auth.js' %}"></script>
</body>
</html>
