{% extends "base.html" %}
{% load static %}

{% block title %}Admin Dashboard{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}


<h1>👨‍🍳 Admin Dashboard</h1>
<div class="dashboard">

    <div class="card highlight">
        <h2>🔄 Running Token</h2>
        <p class="big">{{ running_token|default:"-" }}</p>
    </div>

    <div class="card">
        <h2>⏭ Next Token</h2>
        <p class="big">{{ next_token|default:"-" }}</p>
    </div>

    <div class="card">
        <h2>📦 Pending Orders</h2>
        <p class="big">{{ pending_count }}</p>
    </div>

    <a href="{% url 'admin_menu' %}" class="card">
        <h2>Manage Menu</h2>
        <p>Add • Edit • Enable food items</p>
    </a>

</div>

<h2>📋 Order Queue</h2>

<table class="order-table">
    <thead>
        <tr>
            <th>Token</th>
            <th>User</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
    {% for order in orders %}
        <tr>
            <td>{{ order.token_number }}</td>
            <td>{{ order.user.name }}</td>
            <td>
                <form method="POST" action="{% url 'serve_order' order.id %}">
                    {% csrf_token %}
                    <button class="serve-btn">Serve</button>
                </form>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="3">No pending orders</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
