{% extends "base.html" %}
{% load static %}

{% block title %}Menu | Canteen{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock %}

{% block content %}

<!-- 🔔 TOAST -->
{% if messages %}
<div id="toast-overlay">
    <div id="toast" class="toast">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
</div>
{% endif %}

<h1>🍽️ Menu</h1>

  <a href="{% url 'home' %}" class="btn-back">
    🏠 Home
</a>

<!-- VEG -->
<h2>🟢 Veg</h2>
<div class="menu-container">
    {% for item in veg_items %}
        <div class="menu-card">
            <h3>{{ item.Item_name }}</h3>
            <p>₹ {{ item.price }}</p>

            <form method="POST" action="{% url 'add_to_order' item.id %}">
                {% csrf_token %}
                <button type="submit" class="order-btn">Order</button>
            </form>
        </div>
    {% empty %}
        <p>No veg items available</p>
    {% endfor %}
</div>

<!-- NON-VEG -->
<h2>🔴 Non-Veg</h2>
<div class="menu-container">
    {% for item in nonveg_items %}
        <div class="menu-card">
            <h3>{{ item.Item_name }}</h3>
            <p>₹ {{ item.price }}</p>

            <form method="POST" action="{% url 'add_to_order' item.id %}">
                {% csrf_token %}
                <button type="submit" class="order-btn">Order</button>
            </form>
        </div>
    {% empty %}
        <p>No non-veg items available</p>
    {% endfor %}
</div>

<!-- BEVERAGES -->
<h2>☕ Beverages</h2>
<div class="menu-container">
    {% for item in beverage_items %}
        <div class="menu-card">
            <h3>{{ item.Item_name }}</h3>
            <p>₹ {{ item.price }}</p>

            <form method="POST" action="{% url 'add_to_order' item.id %}">
                {% csrf_token %}
                <button type="submit" class="order-btn">Order</button>
            </form>
        </div>
    {% empty %}
        <p>No beverages available</p>
    {% endfor %}
</div>

{% endblock %}

{% block extra_js %}
<script>
    const toast = document.getElementById("toast");
    if (toast) {
        setTimeout(() => {
            toast.parentElement.remove();
        }, 3000);
    }
</script>
{% endblock %}
